html, body {
    min-width: 1122px;
    min-height: 1750px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000 url("img/barbershop-index-grid.jpg") no-repeat;
    background-size: 1122px auto;
}

.main-header {
    margin-bottom: 60px;

    background-color: blue;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

    min-height: 70px;
    background-color: grey;
}

.main-header-layout {
    display: flex;
    justify-content: flex-start;

    background-color: aqua;
}

.main-header-layout::before {
    display: none;
}

.main-navigation {
    width: 780px;

    min-height: 70px;
    background-color: darkcyan;
}

.user-block {
    width: 140px;
    margin-left: auto;

    min-height: 70px;
    background-color: crimson;
}

.index-logo {
    width: 368px;
    min-height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.features {
    display: flex;
    justify-content: space-between;
}

.features::before {
    display: none;
}

.features-item {
    width: 300px;
    background-color: darkmagenta;
}

.index-content {
    display: flex;
    justify-content: space-between;

    margin-bottom: 35px;
    padding: 50px 80px;
}

.index-content::before {
    display: none;
}

.index-content-left {
    width: 380px;
}

.index-content-right {
    width: 300px;;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.main-footer-layout {
    display: flex;
}

.main-footer-layout::before {
    display: none;
}

.footer-contacts {
    width: 320px;
    margin-right: 60px;
}

.footer-socials {
    width: 180px;
}

.footer-copyright {
    width: 160px;
    margin-left: auto;
}

